* {
	margin: 0;
	padding: 0;
	box-sizing: border;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	padding: 0 5%;
}
#header-nav {
	display: flex;
	list-style: none;
}
#header-nav li {
	font-size: 1.0rem;
	font-weight: bold;
	margin: 10px;
	padding: 5px 10px;
}
#shoping {
	color: #fff;
	background-color: #000;
	border-radius: 25px;
}
body {
	/*IE8以下の場合の背景画像*/
	background: url("") #333;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.skew-c{
	position: absolute;
	width: 100%;
	height: 100px;
}
.skew-cc{
	position: relative;
	width: 100%;
	height:100px;
	top: -4px;
	left: 0;
	z-index: -1;
}
#skew-1 {
	top: 535px;
	left: 0px;
	background: linear-gradient(to left bottom, transparent 49%, #C0E645 50%);
}
#skew-2 {
	top: 0;
	background: linear-gradient(to right bottom, #C0E645 49%, transparent 50%);
}
.block-1 {
	height: 580px;
}
video {
	display: block;
}
#bg-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
	z-index: -1;
}
.video-text {
	position: absolute;
	font-size: 1.8rem;
	top: 5%;
	left: 20%;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.5rem;
	text-shadow: 0px 0px 15px #1b1b1c
	z-index: 2;
}
.block-2 {
	background-color: #C0E645;
	height: 700px;
}
.title {
	font-size: 4.0rem;
	text-align: center;
}
#b2-textbox {
	position: relative;
	top: 50px;
	left: -10px;
	background-color: #fff;
	width: 80%;
	height: 500px;
	border-radius: 15px;
	box-shadow: 0 2rem 2rem -2rem;
	box-sizing: border-box;
	letter-spacing: 0.2rem;
	overflow: hidden;
}
#b2-textbg {
	position: absolute;
	display: inline-block;
	top: 70px;
	left: -20px;
	color: #EFEEE8;
	font-size: 5.0rem;
	line-height: 1;
	transform: rotate(-30deg);
}
.subtitle {
	font-size: 2.0rem;
	text-align: right;
	line-height: 2.0;
}
#b2-text {
	position: absolute;
	font-size: 1.2rem;
	line-height: 2.6;
	padding: 4% 5% 4% 36%;
}
#b2-text p {
	padding: 20px;
}
#about-1 {
	float: right;
	background-image: url("about-1.jpg");
	background-size: cover;
	background-position: bottom;
	width: 70%;
	height: 450px;
}
.block-3 {
	height: 120vh;
}
.block-4 {
	height: 120vh;
}
.block-5 {
	height: 120vh;
}
footer {
	background-color: #C0E645;
}